<app-header></app-header>
<app-avatar imageUrl="https://pbs.twimg.com/media/BCN2uyWCcAA24pR.png" text="halo"></app-avatar>
<card [card]="{title:'tytul', description:'opis'}"></card>
<rating-view [max]="5" [value]="3.7" (clicked)="test($event)"></rating-view><br><br>
<section>
    <h2>Read More Panel</h2>
    <read-more-panel></read-more-panel>
</section>
<hero title="Title of the hero component" imageUrl="url(https://images.pexels.com/photos/1420440/pexels-photo-1420440.jpeg)">
    This is ng content</hero>